// scrollbar
@import './base/scrollbar';

// base
@import './common';
@import './utils/mixins';
@import './utils/variables';

@import './base/base';
@import './base/normalize';
@import './base/reset';


// components
@import './components/container';
@import './components/modal_students';
@import './components/load-animation';
@import './components/back-to-top-btn';

// layouts
@import './layouts/header';
@import './layouts/main';
@import './layouts/footer';
@import './layouts/library';
@import './layouts/clock';

@import './layouts/modal';


