<div class="clock__frame is-hiden">
    <div class="container">

        <p class="clock__title">You haven't saved anything. DON'T WASTE YOUR TIME! Add something . . .</p>
        
        <div class="clock">
            <div class="clock-face">
                <div class="hand hour-hand"></div>
                <div class="hand min-hand"></div>
                <div class="hand second-hand"></div>
                <div class="center"></div>
            </div>
        </div>
        
    </div>
</div>