<footer class="footer">
  <div class="container">
    <div class="footer-text__wrapper">
      <p class="footer-text">
        <span data-lang="footText1"
          >© 2022 | All Rights Reserved | Developed with</span
        >
        <svg class="favorite" width="14" height="12.75">
          <use href="./images/sprite.svg#icon-favorite"></use>
        </svg>
        <a class="footer-link" href="#"
          ><span data-lang="footText2">by</span>
          <span
            data-lang="footText3"
            class="link-dec footer__link"
            id="openModalLink"
            >GoIT Students</span
          ></a
        >
      </p>
    </div>
  </div>
</footer>
