<header class="header homeimg">
  <!-- .libimg клас який потрібно додавати до хедера при натисканні на кнопку lib а .homeimg відповідно забирати-->
  <div class="container">
    <div class="wrapper">
      <a href="#" class="logo-link">
        <svg
          class="subscribe-form__icon rotate-vert-center"
          width="24"
          height="24"
        >
          <use href="./images/sprite.svg#icon-logo"></use>
        </svg>
        <span class="logo-text tracking-in-expand">Filmoteka</span></a
      >
      <nav class="navigation">
        <ul class="nav-list">
          <li class="nav-item active__page">
            <button class="nav-btn home__btn" type="button">HOME</button>
          </li>
          <li class="nav-item">
            <button class="nav-btn library__btn" type="button">
              MY LIBRARY
            </button>
          </li>
          <li class="nav-item">
            <button class="nav-btn login__btn" type="button">Log In</button>
          </li>
          <li class="nav-item is-hidden">
            <button class="nav-btn logout__btn" type="button">Log Out</button>
          </li>
        </ul>
      </nav>

      <div class="hi-icon-wrap hi-icon-effect">
        <button class="theme-btn toggler text-focus-in"></button>
      </div>
      <!-- <label for="checkbox" class="toggler bounce-in-right">
        <input type="checkbox" id="checkbox" class="visually-hidden" />
        <span class="ball"></span>
        <i class="iconify-inline ri-sun-line sun" data-icon="ri:sun-line"></i>
        <i
          class="iconify-inline ri-moon-line moon"
          data-icon="ri:moon-line"
        ></i>
      </label> -->
    </div>
    <form class="search-form">
      <input class="input-form" type="text" placeholder="Movie search" />
      <button class="submit-btn" type="submit">
        <svg class="menu__icon" width="12" height="12">
          <use href="./images/sprite.svg#icon-search"></use>
        </svg>
      </button>
      <p></p>
    </form>
  </div>
</header>
