<!-- Button to open the modal login form -->


<!-- The Modal -->
<div class="modal-backdrop is-hidden">

    <!-- Modal Content -->
    <div class="modal-container">
        <button class="close-modal" data-action="close"></button>
        <!-- <h2 class="modal-title">Login</h2> -->
        <div class="modal-img">
            <img srcset="./images/mob/login-avatar-320.jpg 320w, ./images/tab/login-avatar-768.jpg 768w,
        ./images/desc/login-avatar-1280.jpg 1280w" src="./images/mob/login-avatar-320.jpg" alt="Avatar" sizes="40 vw" class="modal-avatar">
        </div>

        <!-- Login -->
        <form class="modal-form login">
            <!-- <label for="login-email"><b>Username</b></label> -->
            <input type="email" placeholder="Email" name="email" class="modal-input" >
            <!-- <label for="login-password"><b>Password</b></label> -->
            <input type="password" placeholder="Password" name="password" class="modal-input" >
            <button type="submit" class="modal-btn">Login</button>

            <p class="modal-text">Don't have an account?</p>
            <button type="button" class="modal-btn" data-action ="toggle">Register</button>
            
        </form>

        <!-- Registration -->
        <form class="modal-form register is-hidden">
    
            <input type="email" placeholder="Email" name="email" class="modal-input">
            <input type="password" placeholder="Password" name="password" class="modal-input">
            <input type="password" placeholder="Repeat Password" name="repeat" class="modal-input">
            <button type="submit" class="modal-btn">Register</button>

            <p class="modal-text">Have an account?</p>
            <button type="button" class="modal-btn" data-action ="toggle">Login</button>
            
        </form>

        <!-- <div class="container">
            <button type="button" 
                class="cancelbtn">Cancel</button>
        </div> -->
    </div>
</div>