<section class="main-section">
  <div class="container">
    <ul class="main-render"></ul>

    <!-- clock -->
    <div class="clock__frame is-hiden">
      <p data-lang="clockTopText" class="clock__title">
        You haven`t saved anything.
      </p>
      <p data-lang="clockMidText" class="clock__title accent">
        DON'T WASTE YOUR TIME!
      </p>
      <p data-lang="clockBotText" class="clock__title">Add something . . .</p>
      <div class="clock">
        <div class="clock-face">
          <div class="hand min-hand"></div>
          <div class="hand hour-hand"></div>
          <div class="hand second-hand"></div>
          <div class="center"></div>
        </div>
      </div>
    </div>
    <!-- pagination -->
    <div
      class="pagination-section pagination-main"
      id="gallery-pagination"
    ></div>
    <div
      class="pagination-section pagination-search"
      id="gallery-pagination"
    ></div>
    <div class="pagination-section pagination-watched" id="gallery-pagination"></div>
  </div>
</section>
