<!-- <div class="backdrop--students is-hidden">
  <div class="modal--students">
    <h2 data-lang="teamName" class="team-name--title">YOUR WEEKEND TEAM</h2>
    <button class="close-modal close-modalX" id="closeModalStBtnX"></button>
    <ul class="team-items"></ul>
    <button data-lang="closeBtn" class="button-modal button-modal--orange" id="closeModalStBtn">
      Close
    </button>
  </div>
</div> -->

<div class="backdrop--students is-hidden">
  <div class="modal--students">
    <h2 data-lang="teamName" class="team-name--title">YOUR WEEKEND TEAM</h2>
    <button class="close-modal close-modalX" id="closeModalStBtnX"></button>
    <ul class="team-items">

      <li class='team'>
        <div class='card__tumb team__tumb'>
          <img data-lang="yuraVol" class='card__image team__image' src="https://github.com/Yura-Voloshyn/Filmoteka-group-project/blob/dev/src/images/team-photo/Yura.jpg?raw=true" alt="Yura Voloshyn" />
        </div>
        <a href="https://github.com/Yura-Voloshyn" class='ref' target="_blank" rel="noreferrer noopener">
          <div class='ref__cover'>
            <span class='ref__icon'></span>
            <h3 data-lang="studName" class='ref__title'>Yura Voloshyn</h3>
      
          </div>
        </a>
        <p data-lang="possition1" class='ref__pos'>Team Leader</p>
      </li>

      <li class='team'>
        <div class='card__tumb team__tumb'>
          <img data-lang="sergSma" class='card__image team__image'
            src="https://raw.githubusercontent.com/Yura-Voloshyn/Filmoteka-group-project/1a42259e5af394e60dded1d6df3502a528cf336f/src/images/team-photo/Sergiy.jpg"
            alt="Sergiy Smaga" />
        </div>
        <a href="https://github.com/sergiy-smaga" class='ref' target="_blank" rel="noreferrer noopener">
          <div class='ref__cover'>
            <span class='ref__icon'></span>
            <h3 data-lang="sergSma" class='ref__title'>Sergiy Smaga</h3>
      
          </div>
        </a>
        <p data-lang="possition2" class='ref__pos'>Scrum Master</p>
      </li>

      <li class='team'>
        <div class='card__tumb team__tumb'>
          <img data-lang="olenaLot" class='card__image team__image'
            src="https://raw.githubusercontent.com/Yura-Voloshyn/Filmoteka-group-project/1a42259e5af394e60dded1d6df3502a528cf336f/src/images/team-photo/Olena.jpg"
            alt="Olena Lotos" />
        </div>
        <a href="https://github.com/sergiy-smaga" class='ref' target="_blank" rel="noreferrer noopener">
          <div class='ref__cover'>
            <span class='ref__icon'></span>
            <h3 data-lang="olenaLot" class='ref__title'>Olena Lotos</h3>
      
          </div>
        </a>
        <p data-lang="possition3" class='ref__pos'>Developer</p>
      </li>

      <li class='team'>
        <div class='card__tumb team__tumb'>
          <img data-lang="iraShash" class='card__image team__image'
            src="https://raw.githubusercontent.com/Yura-Voloshyn/Filmoteka-group-project/1a42259e5af394e60dded1d6df3502a528cf336f/src/images/team-photo/Ira.jpg"
            alt="Iryna Shashko" />
        </div>
        <a href="https://github.com/IrynaShashko" class='ref' target="_blank" rel="noreferrer noopener">
          <div class='ref__cover'>
            <span class='ref__icon'></span>
            <h3 data-lang="iraShash" class='ref__title'>Iryna Shashko</h3>
      
          </div>
        </a>
        <p data-lang="possition4" class='ref__pos'>Developer</p>
      </li>

      <li class='team'>
        <div class='card__tumb team__tumb'>
          <img data-lang="yuliaPakh" class='card__image team__image'
            src="https://raw.githubusercontent.com/Yura-Voloshyn/Filmoteka-group-project/1a42259e5af394e60dded1d6df3502a528cf336f/src/images/team-photo/Yulia2.jpeg"
            alt="Yulia Pakhachuk" />
        </div>
        <a href="https://github.com/yuliapakhachuk" class='ref' target="_blank" rel="noreferrer noopener">
          <div class='ref__cover'>
            <span class='ref__icon'></span>
            <h3 data-lang="yuliaPakh" class='ref__title'>Yulia Pakhachuk</h3>
      
          </div>
        </a>
        <p data-lang="possition5" class='ref__pos'>Developer</p>
      </li>

      <li class='team'>
        <div class='card__tumb team__tumb'>
          <img data-lang="hannaShu" class='card__image team__image'
            src="https://github.com/Yura-Voloshyn/Filmoteka-group-project/blob/dev/src/images/team-photo/Hanna.jpg?raw=true"
            alt="Hanna Shumakova" />
        </div>
        <a href="https://github.com/HannaMyrhorod" class='ref' target="_blank" rel="noreferrer noopener">
          <div class='ref__cover'>
            <span class='ref__icon'></span>
            <h3 data-lang="hannaShu" class='ref__title'>Hanna Shumakova</h3>
      
          </div>
        </a>
        <p data-lang="possition6" class='ref__pos'>Developer</p>
      </li>

      <li class='team'>
        <div class='card__tumb team__tumb'>
          <img data-lang="olhatru" class='card__image team__image'
            src="https://github.com/Yura-Voloshyn/Filmoteka-group-project/blob/dev/src/images/team-photo/Olya.jpg?raw=true"
            alt="Olha Truba" />
        </div>
        <a href="https://github.com/Lolichka-Olha" class='ref' target="_blank" rel="noreferrer noopener">
          <div class='ref__cover'>
            <span class='ref__icon'></span>
            <h3 data-lang="olhatru" class='ref__title'>Olha Truba</h3>
      
          </div>
        </a>
        <p data-lang="possition7" class='ref__pos'>Developer</p>
      </li>

      <li class='team'>
        <div class='card__tumb team__tumb'>
          <img data-lang="andrTim" class='card__image team__image'
            src="https://raw.githubusercontent.com/Yura-Voloshyn/Filmoteka-group-project/1a42259e5af394e60dded1d6df3502a528cf336f/src/images/team-photo/Andrew.jpg"
            alt="Andrew Timoshkin" />
        </div>
        <a href="https://github.com/andrewtimoshkin" class='ref' target="_blank" rel="noreferrer noopener">
          <div class='ref__cover'>
            <span class='ref__icon'></span>
            <h3 data-lang="andrTim" class='ref__title'>Andrew Timoshkin</h3>
      
          </div>
        </a>
        <p data-lang="possition8" class='ref__pos'>Developer</p>
      </li>
      
    </ul>
    <button data-lang="closeBtn" class="button-modal button-modal--orange" id="closeModalStBtn">
      Close
    </button>
  </div>
</div>