.container {
    width: 100%;
    padding-left: 20px;
    padding-right: 20px;
    margin: 0 auto;

    @include mob {
        width: 320px;
    }

    @include tab {
        width: 768px;
        padding-left: 32px;
        padding-right: 32px;
    }

    @include desc {
        width: 1280px;
        
    }
}