.footer {
    transition: all 0.3s ease 0s;
    padding-top: 30px;
    padding-bottom: 30px;
    background-color: $cl-foot-bg;
}

.footer-text {
    
    color: $cl-foot-text;
    font-size: 14px;
    line-height: 1.17;
    text-align: center;
    
    @media screen and (max-width: 767px) {
            max-width: 236px;
        };
}


.footer-text__wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
}
.link-dec {
    text-decoration: underline;
}
.footer-link {
    color: $cl-foot-text;
    
}

.favorite {
    margin-left: 5px;
    margin-right: 5px;
    fill: #ff6b08;

    transform: scale(1);
    animation: pulse 700ms infinite;
}

@keyframes pulse {
    0% {
        transform: scale(0.8);
    }

    70% {
        transform: scale(1.2);
        fill: #ff4208;
    }

    100% {
        transform: scale(0.8);
    }
}