.main-section {
    margin-bottom: 40px;
    @include tab {
        margin-bottom: 60px;
    }
        &>.container {
            min-height: calc(100vh - 353px);
        }
}


:root {
    --timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    --animation-duration: 250ms;
}



.main-render {
    display: flex;
    flex-wrap: wrap;
    // max-width: 1140px;
    justify-content: space-around;
    align-items: flex-start;
    padding: 0;
    padding-top: 20px;
    list-style: none;
    margin-left: auto;
    margin-right: auto;
    font-size: 12px;
    line-height: 1.3;

    @include tab {
        padding-top: 60px;
        // padding-bottom: 60px;
    }

    @include desc {
            font-size: 20px;
            line-height: 1.2;
        }

}

// .pagination-section.pagination-search{
//     padding-bottom: 60px;
// }


// .card-link:hover {
//     transform: scale(1.03);
// }

.poster-image {
    box-sizing: border-box;
    height: 438px;
    width: 100%;
    object-fit: cover;
    transition: transform var(--animation-duration) var(--timing-function);
    border-radius: 4;
    @include tab {
        height: 495px;
    }
        @include desc {
            height: 634px;
        }
}

.movie-card {
    display: block;
    // object-fit: contain;
    border-radius: 4px;
    text-decoration: none;
    // height: 438px;
    min-width: 280px;
    flex-basis: 20%;
    // margin: 12px;
    position: relative;
    margin-bottom: 20px;
    // box-shadow: 0px 1px 3px 0px rgba(0, 0, 0, 0.2),
    //     0px 1px 1px 0px rgba(0, 0, 0, 0.14), 0px 2px 1px -1px rgba(0, 0, 0, 0.12);
    transition: transform var(--animation-duration) var(--timing-function);
    @include tab {
        margin-bottom: 32px;
            // height: 495px;
            min-width: 336px;
        }
    
        @include desc {
            // height: 634px;
            min-width: 395px;
        }
}

.movie-card:hover {
    cursor: zoom-in;
    transform: scale(1.03);
}

.card-title {
    font-weight: 500;
    font-size: 12px;
    line-height: 1.3;
    margin-top: 10px;

        @include desc {
            font-size: 20px;
            line-height: 1.2;
        }
}

.info {
    display: flex;
    align-items: center;
}

.info-item {
    display: flex;
    flex-direction: column;
    color: $cl-accent;
}
.info-item__date {
    margin-left: 2px;
}
.info-item__vote {
    display: inline-block;
    margin-left: 4px;
    padding: 1px 10px;
    background-color: $cl-accent;
    color: $cl-white-primary;
    border-radius: 4px;
    @include desc {
            padding: 3px 12px;
        }
}
.card-link {
    display: block;
    text-decoration: none;
}

// pagination
.btn {
    min-width: 40px;
    min-height: 40px;
    border-radius: 5px;
    background-color: transparent;
    color: #0c0b0b;
    border: transparent;
    cursor: pointer;

    &:hover {
        background-color: #FF6B08;
        color: #fff;
    }
}

.active {
    background-color: #FF6B08;
    color: #fff;
}

.btn-pagination {
    min-width: 40px;
    min-height: 40px;
    border-radius: 5px;
    font-weight: 500;
    font-size: 12px;
    line-height: 1.33;
    background-color: transparent;
    color: #000000;
    border: transparent;
    cursor: pointer;

    &:hover {
        background-color: #FF6B08;
        color: #000000;
    }
}

.active-btn-pagination {
    background-color: #FF6B08;
    color: #fff;
}

.pagination-section {
    display: flex;
    justify-content: center;
    margin: 0 auto;
}

.home {
    cursor: pointer;
}
// pagination